body {
    background: darkgray;
    font-family: Consolas, monaco, monospace;
    color: ghostwhite;
}

h1 {
    text-align: center;
    padding: 2.5% 0 2.5% 0;
    font-family: Consolas, monaco, monospace;
}

h1, h2, a {
    color: inherit;
    font-family: inherit;
}

.large-3, .medium-3, .large-4, .medium-4 {
    border-right: dashed thin #ffffff;
    /*padding-left: 20px;*/
}

li {
    padding: 4px 0 4px 0;
}

ul {
    list-style-type: none;
    }
small{
    padding-left: .5em;
}
.weather{
    padding-left: 20px;
    padding-top: 30px;
}
