name: Build and Deploy to S3

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Build site
      run: npm run build
      env:
        NODE_ENV: production
        QBITTORRENT: ${{ secrets.QBITTORRENT }}
        RUTORRENT: ${{ secrets.RUTORRENT }}
        REDACTED: ${{ secrets.REDACTED }}
        BTN: ${{ secrets.BTN }}
        PTP: ${{ secrets.PTP }}
        JIRA_WORK: ${{ secrets.JIRA_WORK }}
        CONFLUENCE: ${{ secrets.CONFLUENCE }}
        REPO_MSP_PORTAL: ${{ secrets.REPO_MSP_PORTAL }}
        REPO_MSP_API: ${{ secrets.REPO_MSP_API }}
        REPO_IDENTITY_SERVER: ${{ secrets.REPO_IDENTITY_SERVER }}
        REPO_SECURE_DOT: ${{ secrets.REPO_SECURE_DOT }}
        REPO_FORGEJO: ${{ secrets.REPO_FORGEJO }}
        REPO_NETDATA: ${{ secrets.REPO_NETDATA }}
        SLAB: ${{ secrets.SLAB }}
        PUBLIC_WEATHER_API_KEY: ${{ secrets.PUBLIC_WEATHER_API_KEY }}
        EDKIBANA: ${{ secrets.EDKIBANA }}
        IMMICH: ${{ secrets.IMMICH }}
        VAULTWARDEN: ${{ secrets.VAULTWARDEN }}
        SYNCTHING: ${{ secrets.SYNCTHING }}

    - name: Deploy to S3
      uses: jakejarvis/s3-sync-action@master
      with:
        args: --acl public-read --follow-symlinks --delete
      env:
        AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: ${{ secrets.AWS_REGION }}
        SOURCE_DIR: 'dist'
